{% extends "base/base.html" %}
{% import "base/_macros.html" as macros %}
{%block title%}Lego World, Your World{% endblock %}
{% block product%}
	{% for product in products %}

		<div class="row set">
			<div class="col-md-3">
				<img class="img-responsive" src="http://placehold.it/700x300" alt="">
			</div>
			<div class="col-md-6 meta">
				<h1>{{ product.product_id}} {{ product.product_name}} </h1>
				<div class="tags">
					<a href="#">{{product.product_category.name}}</a>
					<a>{{ product.release_year }}</a>
				</div>	
				<div class="col">
					<dl>
						<dt>Pieces</dt><dd>{{ product.pieces}}</dd>
						<dt>Price</dt><dd>{{product.price1}}</dd>
						<dt>Packaging</dt>{% if product.packaging == 'B'%} <dd>Box</dd> {% else %} <dd>No Box</dd> {% endif %}
						<dt>Status</dt>{% if product.status == 'A'%} <dd>For Sale</dd> {% else %} <dd>Retired</dd> {% endif %}
						<dt>First Sold</dt><dd>{{product.packaging}}</dd>
						<dt>Instructions</dt>{% if product.instruction %} <dd>Yes</dd> {% else %} <dd>No</dd> {% endif %}
						<dt>Set Type</dt>{% if product.settype == 'N'%} <dd>Normal</dd> {% elif product.settype == 'S' %} <dd>Special</dd> {% else %} <dd>Unknown</dd> {% endif %}
					
					
					</dl>
					
				</div>

			</div>

			<div class="col-md-3 pull-right">
				<dl class="admin">
					<dt>OUR COMMUNITY</dt>
					<dd>10 own this set, 100 want it</dd>
					
				</dl>
				
				<dl class="admin">
					<dt>YOUR COLLECTION</dt>
					<dd>I own 1 of this set.</dd>
					<dd>I want this set.</dd>
					<dt> YOUR RATING</dt>
					<dd> *****</dd>
				</dl>	
				
			</div>		
		</div>


		<hr>
	{% endfor %}

	{% if pagination %}
		<div class="pagination">
			{{ macros.pagination_widget(pagination, 'main.main') }}
		</div>
	{% endif %}
{% endblock%}


